<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlinks}} 
  </head>
  <body>
   {{>navbar}}

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="./image/about.jpg"
                  alt="img"
                  class="img-fluid"
                  title="muskan coder"
                />
              </figure>
            </div>

            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <p class="get">
                I Am A
                <span class="text_clr">Mern Stack Developer</span> Youtuber And
                A Freelancer
              </p>
              <a href="https://youtu.be/DiVxOfUEbfk" target="_thapa"
                ><button>About me</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

     {{>footer}}
  </body>
</html>
